---
import MyLogo from "../../public/favicon.svg";
import Github from "../../public/github.svg";
import Linkedin from "../../public/linkedin.svg";

const github_url   = "https://www.github.com/SimoneG97";
const linkedin_url = "https://www.linkedin.com/in/simone-galante-3125b0257";
const astro_url    = "https://astro.build";
const daisyui_url  = "https://daisyui.com";
---

<footer class="footer sm:footer-horizontal bg-base-200 text-neutral-content bottom-0 z-10 p-4 flex-none">
  <aside>
    <MyLogo class="themed-svg" width={60} height={60} />
  </aside>
  <nav>
    <h6 class="footer-title text-base-content">Social</h6>
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" rel="noopener noreferrer" href={github_url} class="tooltip" data-tip="Github">
        <Github class="themed-svg" width={24} height={24} />
      </a>
      <a target="_blank" rel="noopener noreferrer" href={linkedin_url} class="tooltip" data-tip="Linkedin">
        <Linkedin class="themed-svg" width={24} height={24} />
      </a>
    </div>
  </nav>
  <nav>
    <h6 class="footer-title text-base-content">Made with (and thanks to!)</h6>
    <div class="grid grid-flow-col gap-4">
      <a target="_blank" rel="noopener noreferrer" class="link link-hover text-base-content" href={astro_url}>Astro</a>
      <a target="_blank" rel="noopener noreferrer" class="link link-hover text-base-content" href={daisyui_url}>DaisyUI</a>
    </div>
  </nav>
</footer>