@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefers-dark;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-lg: 54rem;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* SVG Theme */
svg.themed-svg path { 
  fill: var(--color-base-content);
}
